@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #F28A15;
    --font-dm-sans: 'DM Sans', sans-serif;

    /* Global Spacing System */
    --global-spacer: 2rem;
    --spacer-y: var(--global-spacer);
    --section-spacer: calc(var(--global-spacer) * 2);
  }

  body {
    font-family: var(--font-dm-sans);
    @apply overflow-x-hidden;
  }
}

@layer utilities {
  .text-primary { color: var(--color-primary); }
  .bg-primary { background-color: var(--color-primary); }
  .border-primary { border-color: var(--color-primary); }
}

section {
  padding-top: 48px;
  padding-bottom: 24px;
}

@media (max-width: 640px) {
  section {
    padding-top: 32px;
    padding-bottom: 16px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  section {
    padding-top: 32px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1025px) {
  section {
    padding-top: 64px;
    padding-bottom: 32px;
  }
}

body {
  background-color: #fef9ee !important;
}

.fade-out-mask {
  position: relative;
}
.fade-out-mask:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2.5em;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);
  border-radius: 0 0 0.75rem 0.75rem;
}